.jumbotron{
    padding:150px;
   background-image: url(./images/miami.jpg);
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center;
   height:20%;
   /* width: 1066px; */
  }
  .container-fluid{
    font-family: 'Berkshire Swash', cursive;
    color: rgba(255, 0, 0, 0.986);
    font-size: 25px;
    left: 0%;
  }
.navbar-header{
    font-family: 'Shojumaru', cursive;
    font-size: 150px;
}